//Avoid typekit FOUT
html {
  &.js {
    body {
      > * {
        opacity: 0;
        transition: opacity .2s ease-in-out;
        will-change: opacity;
      }
    }
  }

  &.js.is-ready {
    body {
      > * {
        opacity: 1;
      }
    }
  }
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  // background: radial-gradient($c-purple, $c-dark);
  background-color: $c-blue-darker;
  color: $c-light;

  // SVG sprite
  > svg {
    display: none;
  }
}

.canvas,
.main {
  @include get-all-space;
}

.canvas,
.header,
.main,
.ui {
  position: fixed;
}

.canvas {
  z-index: layer(lowest);
}

.main {
  z-index: layer(lower);
  overflow-y: auto;
  perspective: 800px;

  .js & {
    overflow: hidden;
  }
}

.header,
.ui {
  z-index: layer(low);
}
